<form method="get" action="/quizes">
<Select onchange="form.submit()" name="tema">
<option value="" disabled selected>Seleciona tu área</option>
<option name="Tesorería Municipal" value="Tesorería Municipal">Tesorería Municipal</option>
<option name="Obras públicas" value="Obras públicas">Obras públicas</option>
<option name="Agua potable" value="Agua potable">Agua Potable</option>
<option name="Fiscalización" value="Fiscalización">Fiscalización</option>
<option name="Predial y Catastro" value="Predial y Catastro">Predial y Catastro</option>
</select></br></br>
</form>

<form method="get" action="/quizes">
      <input type="text" name="search" placeholder="texto_a_buscar" value="" />
      <input type="submit" value="Enviar">
</form>
</br>
<table><p>
<% var i; for (i=0; i < quizes.length; i++) { %>
    <tr>
      <td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
      <td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].tema %></a></td>

      <%if(session.user){%>
        <td><a href="quizes/<%= quizes[i].id %>/edit"><button>editar</button></a></td>
        <td>
          <form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
            <button type="submit" onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');">
              borrar
            </button>
          </form>
        </td>
      <%}%>

    </tr>
  <% } %>
</table>
<p></br>
<%if(session.user){%>
  <a href="/quizes/new"><button>Crear Matriz</button></a>
<%}%>
